<mat-toolbar>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Capability</mat-label>
            <input type="text"
                   aria-label="Capability"
                   placeholder="Pick one"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let capability of capabilityFilter | async" [label]="capability.name">
                    <mat-select>
                        <mat-optgroup *ngFor="let category of capability.categories" [label]="category.name">
                            <mat-option *ngFor="let subcategory of category.subcategories" [value]="subcategory.ID"  (onSelectionChange)="onSelectionChange($event, subcategory.ID)">
                                {{subcategory.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-optgroup>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <span class="material-icons">search</span>
</mat-toolbar>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Provider</mat-panel-title>
            <mat-panel-description>{{selectedProvider === undefined? "select provider" : selectedProvider.name}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <div *ngFor="let provider of providersFilter | async">
                <mat-card matRipple class="provider-card" (click)="providerClicked(provider)">
                    <mat-card-subtitle>{{provider.ID}}</mat-card-subtitle>
                    <mat-card-title>{{provider.name}}</mat-card-title>
                    <mat-card-content>
                        <p>{{provider.description}}</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <!--      <mat-card-actions>-->
                    <!--        <button mat-button>LIKE</button>-->
                    <!--        <button mat-button>SHARE</button>-->
                    <!--      </mat-card-actions>-->
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="selectedProvider === undefined" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Service</mat-panel-title>
            <mat-panel-description>{{selectedService === undefined? "select service" : selectedService.name}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div *ngFor="let service of selectedProvider?.services!" class="card" (click)="serviceClicked(service)">
                <mat-card matRipple fxFlex="nogrow" class="provider-card">
                    <mat-card-subtitle>{{service.ID}}</mat-card-subtitle>
                    <mat-card-title>{{service.name}}</mat-card-title>
                    <mat-card-content>
                        <p>{{service.description}}</p>
                        <img [src]="sanitizer.bypassSecurityTrustResourceUrl("data:image/{{service.imgSrc}})">
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <!--      <mat-card-actions>-->
                    <!--        <button mat-button>LIKE</button>-->
                    <!--        <button mat-button>SHARE</button>-->
                    <!--      </mat-card-actions>-->
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="selectedService === undefined" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Configuration</mat-panel-title>
            <mat-panel-description>select configuration</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div *ngFor="let serviceConfiguration of selectedService?.configurations!" class="card">
                <mat-card matRipple fxFlex="nogrow" class="provider-card">
                    <mat-card-subtitle>{{serviceConfiguration.ID}}</mat-card-subtitle>
                    <mat-card-title>{{serviceConfiguration.name}}</mat-card-title>
                    <mat-card-content>
                        <p>{{serviceConfiguration.description}}</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <!--      <mat-card-actions>-->
                    <!--        <button mat-button>LIKE</button>-->
                    <!--        <button mat-button>SHARE</button>-->
                    <!--      </mat-card-actions>-->
                    <mat-card-footer>
                        <mat-chip-list aria-label="Fish selection" *ngFor="let subcategory of serviceConfiguration.subcategories">
                            <mat-chip [matTooltip]="subcategory.description" color="primary" selected>{{subcategory.name}}</mat-chip>
                        </mat-chip-list>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>

    </mat-expansion-panel>

</mat-accordion>
