<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Capability</mat-panel-title>
            <mat-panel-description>{{selectedCapability === undefined ? "select capability" : selectedCapability.name}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-around">
            <div *ngFor="let capability of capabilitiesFilter | async">
                <mat-card matRipple class="generic-card" (click)="capabilityClicked(capability)">
                    <mat-card-header>
                        <mat-card-title>{{capability.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{capability.description}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="selectedCapability === undefined" [expanded]="step === 1" (opened)="setStep(1)"
                         hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Category</mat-panel-title>
            <mat-panel-description>{{selectedCategory === undefined ? "select category" : selectedCategory.name}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div *ngFor="let category of selectedCapability?.categories!" class="card"
                 (click)="categoryClicked(category)">
                <mat-card matRipple fxFlex="nogrow" class="generic-card">
                    <mat-card-header>
                        <mat-card-title>{{category.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{category.description}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="selectedCategory === undefined" [expanded]="step === 2" (opened)="setStep(2)"
                         hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Subcategory</mat-panel-title>
            <mat-panel-description>{{selectedSubcategory === undefined ? "select subcategory" : selectedSubcategory.name}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div *ngFor="let subcategory of selectedCategory?.subcategories!" class="card"
                 (click)="subcategoryClicked(subcategory)">
                <mat-card matRipple fxFlex="nogrow" class="generic-card">
                    <mat-card-header>
                        <mat-card-title>{{subcategory.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{subcategory.description}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="selectedSubcategory === undefined" [expanded]="step === 3" (opened)="setStep(3)"
                         hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Service Configuration</mat-panel-title>
            <mat-panel-description>select service configuration</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div *ngFor="let serviceConfig of selectedSubcategory?.serviceConfigurations!" class="card">
                <mat-card matRipple fxFlex="nogrow" class="generic-card">
                    <mat-card-header>
                        <div class="generic-card-header">
                            <img class="serviceConfigImage"
                                 [src]="sanitizer.bypassSecurityTrustResourceUrl(&quot;data:image/&quot; + serviceConfig.imgSrc)">


                            <mat-card-title class="serviceConfigTitle"
                                            *ngIf="serviceConfig.link === undefined; else elseBlock">
                                {{serviceConfig.name}}
                            </mat-card-title>
                            <ng-template #elseBlock>
                                <mat-card-title class="serviceConfigTitle">
                                    <a href="{{serviceConfig.link}}" target="_blank">{{serviceConfig.name}}</a>
                                </mat-card-title>
                            </ng-template>

                        </div>

                    </mat-card-header>

                    <mat-card-content>
                        <p>{{serviceConfig.description}}</p>

                    </mat-card-content>
                    <!--                    <mat-divider></mat-divider>-->
                    <mat-card-footer>
                        <mat-card-actions class="tenancy-buttons">
                            <button mat-button
                                    [matTooltip]="serviceConfig.tenancyDescription">{{serviceConfig.tenancyName}}</button>
                        </mat-card-actions>
                        <!--                        <mat-chip-listbox aria-label="tenancy">-->
                        <!--                            <mat-chip [matTooltip]="serviceConfig.tenancyDescription" color="primary" selected>{{serviceConfig.tenancyName}}</mat-chip>-->
                        <!--                        </mat-chip-listbox>-->
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

</mat-accordion>
